# Porta do servidor (Render define automaticamente)
PORT=3000

# Token Mestre de Segurança
MASTER_TOKEN=KaNetKelven2026Secure

# URL da Base de Dados Firebase
FIREBASE_DATABASE_URL=https://ka-net-math.firebaseio.com

# Credenciais Firebase Admin (Cole o JSON em uma única linha ou use BASE64)
# FIREBASE_SERVICE_ACCOUNT={"type":"service_account",...}
# FIREBASE_SERVICE_ACCOUNT_BASE64=eyJ0eXBlIjoi...
